* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-color: aquamarine;
    border: 1px solid black;
    height: 4rem;

    
}


.topbar   {
    background-color: blue;
    border: 1px solid black;
    height: 2rem;
    width: 60%;
    
}

.topsection1 {
    border: 1px solid black;
    width: 20%;
    height: 100%;
    display: inline-block;
}

.topsection2 {
    border: 1px solid black;
    width: 58%;
    height: 100%;
    margin-left: 0;
    display: inline-block;
}

.topsection3 {
    border: 1px solid black;
    width: 20%;
    height: 100%;
    display: inline-block;
}

.bigimg {
    background-color: blanchedalmond;
    border: 1px solib black;
    height: 30rem;
}

#bigimg1 {
    background-color: blue;
    border: 1px solid black;
    height: 80%;
    width: 50%;

}

.container2-1 {
    background-color: azure;
    border: 1px solib black;
    height: 30rem;
}

.bigleft {
    background-color: blue;
    border: 1px solid black;
    height: 80% ;
    width: 60%;

}


